#container{
	margin: 20px;
}
#container::before {
    content: "Before Element";
}

#container::after {
    content: "After Element";
}
#container::before, #container::after {
    content: "Before Element";
    color: #f00;
    font-size: 20px;
}
